.fighter-container {
  display: flex;
}

.fighterSpecs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}
